.a{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;
font-size: 40px;
line-height: 20px;
color: rgb(4, 4, 21);
}
.a1{
color: black;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400px;
font-size: 25px;
line-height: 35px;


}
.a2{
font-size: 35px;
font-weight: bold;
line-height: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(4, 4, 28);

}
.a3{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:30px;
    font-size: 25px;
    line-height: 30px;

}
.a4{

    font-size: 30px;
font-weight: bold;
line-height: 20px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: rgb(4, 4, 28);
}
.a5{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 25px;
    line-height: 20px;


}
.a6{
    font-size:30px;
    font-weight: bold;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(4, 4, 28);

}
.a7{

    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 25px;
    line-height: 20px;

}
.a8{

    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(4, 4, 28);


}
.a9{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 25px;
    line-height: 20px;

}
.b{
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(4, 4, 28);


}
.b1{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 25px;
    line-height: 30px;

}
.b2{
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(4, 4, 28);

}
.c{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 25px;
    line-height: 30px;

}
.b3{
color: rgb(17, 17, 85);
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
line-height: 20px;
font-size: 30px;

}
.b4{

    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 25px;
    line-height: 30px;

}
.b5{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 30px;
    line-height: 45px;

}
.b6{
    color: rgb(12, 10, 70);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;

}
.s{

    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 25px;
    line-height: 30px;
}
.s1{
    color: rgb(23, 21, 87);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;

    
}
.s2{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 25px;
    line-height: 30px;

}
.s3{

    color: rgb(14, 12, 84);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;   
}
.s4{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 25px;
    line-height: 30px;

}
.m{
    color: rgb(83, 83, 120);
    font-size: 25px;
}
.s5{
    color: rgb(14, 12, 79);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;   
}
.s6{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size:25px;
    line-height: 30px;

}
.s7{
color: rgb(39, 39, 74);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style:initial ;
line-height: 27px;
font-size: 27px;
font-weight:500px;
}