.v{
color: rgb(29, 11, 86);
font-size:43px ;
font-weight: bolder;
font-family: Georgia, 'Times New Roman', Times, serif;
line-height: 25px;
font-style: initial;

}
.mn{
    color: rgb(83, 83, 120);
    font-size: 25px;
}
.v1{
color: rgb(16, 16, 133);
font-size: 29px;
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
line-height: 25px;

}
.vv{
    color: rgb(9, 7, 26);
    font-size: 25px;
    font-weight: 300px;
    line-height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.v2{
    color: rgb(16, 16, 133);
font-size: 29px;
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
line-height: 27px;
}
.v4{
    color: rgb(9, 7, 26);
    font-size: 25px;
    font-weight: 300px;
    line-height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.v3{
    color: rgb(16, 16, 133);
    font-size: 29px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 27px;
}
.v5{
    color: rgb(9, 7, 26);
    font-size: 25px;
    font-weight: 300px;
    line-height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.v6{
    color: rgb(16, 16, 133);
    font-size: 29px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 27px;  
}
.v7{
    color: rgb(9, 7, 26);
    font-size: 25px;
    font-weight: 300px;
    line-height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.v8{
    color: rgb(16, 16, 133);
    font-size: 29px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 27px;  
}
.v9{
    color: rgb(9, 7, 26);
    font-size: 25px;
    font-weight: 300px;
    line-height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.d{
    color: rgb(16, 16, 133);
    font-size: 29px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 27px;  
}
.d1{
    color: rgb(9, 7, 26);
    font-size: 25px;
    font-weight: 300px;
    line-height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.d2{
    color: rgb(16, 16, 133);
    font-size: 29px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 27px;  
}
.d3{
    color: rgb(9, 7, 26);
    font-size: 25px;
    font-weight: 300px;
    line-height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.d4{
    color: rgb(16, 16, 133);
    font-size: 29px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 27px;  
}
.d5{
    color: rgb(9, 7, 26);
    font-size: 25px;
    font-weight: 300px;
    line-height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.d6{
    color: rgb(16, 16, 133);
    font-size: 29px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 27px;  
}
.h{
    color: rgb(9, 7, 26);
    font-size: 25px;
    font-weight: 300px;
    line-height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.d7{
    color: rgb(16, 16, 133);
    font-size: 29px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 27px;  
}
.d8{
    color: rgb(9, 7, 26);
    font-size: 25px;
    font-weight: 300px;
    line-height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.d9{
    color: rgb(16, 16, 133);
    font-size: 29px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 27px;  
}
.c{
    color: rgb(9, 7, 26);
    font-size: 25px;
    font-weight: 300px;
    line-height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.c1{
    color: rgb(16, 16, 133);
    font-size: 29px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 27px;    
}
.c2{
    color: rgb(9, 7, 26);
    font-size: 25px;
    font-weight: 300px;
    line-height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}