.s{
    color: rgb(22, 25, 104);
    font-size: 30px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
    

}
.l{
    color: rgb(81, 81, 118);
    font-size: 25px;
}
.s1{
color:rgb(5, 5, 20);
font-family: Georgia, 'Times New Roman', Times, serif ;
line-height: 28px;
font-size: 20px;
font-weight: 300px;

}
.s2{
    color: rgb(22, 25, 104);
    font-size: 30px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
    
}
.s3{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px;

    
}
.xx{
    color: rgb(47, 50, 121);
    font-size: 30px;
    font-weight:500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;

}
.x1{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px;

}
.xxx{

    color: rgb(47, 50, 121);
    font-size: 30px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px; 
}
.x2{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px;

}
.s4{
    color: rgb(22, 25, 104);
    font-size: 30px;
    font-weight:500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
.s5{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px;

}
.s6{

    color: rgb(22, 25, 104);
    font-size: 30px;
    font-weight:500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;

}
.m{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px; 

}
.s7{
    color: rgb(22, 25, 104);
    font-size: 30px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;

}
.s8{
   
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px;

}
.c1{
    color: rgb(31, 33, 80);
    font-size: 30px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;

}
.c2{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px;

}
.c3{
    color: rgb(31, 33, 80);
    font-size: 35px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;

}
.c4{

    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px;  
}
.c5{

    color: rgb(31, 33, 80);
    font-size: 30px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;

}
.c6{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px; 

}
.c7{
   
    color: rgb(31, 33, 80);
    font-size: 30px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px; 
}
.c8{

    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px; 
}
.c9{
    color: rgb(22, 25, 104);
    font-size: 30px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
.cc{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px;
}
.c{

    color: rgb(22, 25, 104);
    font-size: 30px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
.cc1{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px;

}
.cc2{
    color: rgb(22, 25, 104);
    font-size: 30px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
.cc3{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px;
}
.cc4{
    color: rgb(22, 25, 104);
    font-size: 30px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;   
}
.cc5{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px;
}
.cc6{
    color: rgb(22, 25, 104);
    font-size: 30px;
    font-weight:500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
.cc7{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px;

}
.cc8{
    color: rgb(22, 25, 104);
    font-size: 30px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
.cc9{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px;
}
.k{
    color: rgb(22, 25, 104);
    font-size: 30px;
    font-weight: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
.k1{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px; 
}
.k2{
    color:rgb(5, 5, 20);
    font-family: Georgia, 'Times New Roman', Times, serif ;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300px; 
}