.x{
color: rgb(49, 11, 84);
font-size: 25px;
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
line-height: 30px;
}
.mm{
    color: rgb(83, 83, 120);
    font-size: 25px;
}
.x1{
color:rgb(10, 10, 60);
font-family: Georgia, 'Times New Roman', Times, serif ;
line-height: 28px;
font-size: 15px;
font-weight: 300px;

}
.x2{
    color: rgb(49, 11, 84);
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 30px;
line-height: 40px;

}
.x3{
color: black;
font-weight: 300;
line-break: normal;
line-height: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
}
.x4{
    color: rgb(72, 11, 129);
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 30px;
line-height: 30px;

}
.x5{
color: black;
font-weight: 300;
line-break: normal;
line-height: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 25px;
}
.x6{

    color: rgb(60, 21, 96);
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 30px;
line-height: 30px;
}
.n{

    color: black;
    font-weight: 300;
    line-break: normal;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    font-size: 25px;
}
.n1{

    color: rgb(60, 21, 96);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 30px;  
}
.n2{
    color: black;
    font-weight: 300;
    line-break: normal;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;  
font-size: 25px;
}
.x7{
    color: rgb(60, 21, 96);
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;
font-size: 30px;
line-height: 25px;
}
.x8{

    color: black;
font-weight: 300;
line-break: normal;
line-height: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
}
.x9{
    color: rgb(60, 21, 96);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 30px;
    }
    .z{
        color: black;
        font-weight: 300;
        line-break: normal;
        line-height: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
    }
.z1{
    color: rgb(60, 21, 96);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 30px;


}   
.z2{
    color: black;
    font-weight: 300;
    line-break: normal;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
}
.z3{
    color: rgb(60, 21, 96);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 30px;

}
.z4{
    color: black;
    font-weight: 300;
    line-break: normal;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 25px;
}



